<main>
    <section class="form-section">
        <img />
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="button-wrap">
            <button class="primary-button" (click)="submit()"
                                        [disabled]="disabledPrimaryButton"
            >{{primaryBtnText}}</button>
            <div class="division-line">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="secondary-button" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>Users Management</h1>
        <img />
    </section>
</main>